$phone: 500px;
$tablet: 800px;

.landing-background {
	background-image: url(../../assests/landing-img.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.landing-content {
	position: relative;
	z-index: 98;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (max-width: $tablet) {
		height: 100vh;
		align-items: center;
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
		background-color: rgba(#000, 0.3);
	}
}

.cta {
	// font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 2% 2% 6%;
	text-align: justify;
	padding: 3.5%;
	width: 35%;

	.cta-title {
		margin: 0 3% 3% 0;
		padding: 0 3% 3% 0;
		color: #5e5e5c;
		line-height: 5.5rem;
		letter-spacing: 0.15rem;
		font-weight: 300;
		font-size: 4.5rem;

		@media (max-width: $tablet) {
			// width: 100%;
			text-align: left;
			align-items: center;
			color: #fff;
			background-position: center;
		}
	}

	.sign-up {
		@media (max-width: $phone) {
			width: 50%;
		}
	}
}

.landing-footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: fixed;
	padding: 2%;
	height: 14rem;
	background: #aba2a4;
	bottom: 0;
	opacity: 0.8;
	z-index: 900;

	.icon-group {
		width: 80px;
		height: 80px;
		background-color: #f7f7f7;
		border-radius: 50%;
		padding: 2%;
		position: absolute;
		margin-left: 1%;
		top: 22%;

		&.book {
			margin-left: 5.8%;
			left: 12%;
		}

		&.friends {
			margin-left: 2%;
		}
	}

	.icon {
		font-size: 4.2rem;
		color: #555555;
		position: absolute;
		padding: 2%;
		top: 1.8rem;
		left: 1.4rem;
		z-index: 900;

		&.book {
			left: 1.6rem;
		}
	}

	.landing-text {
		padding: 5%;
		width: 100%;

		& p {
			margin-left: 0.5%;
			padding: 2%;
			text-align: left;
			position: absolute;
			font-size: 2rem;
			letter-spacing: 0.025rem;
			color: #fff;
			top: 10%;
			left: 22%;

			&.text-right {
				left: 56.5%;
			}
		}
	}
}

// .landing-footer {
// 	display: flex;
// 	flex-direction: row;
// 	position: fixed;
// 	left: 0;
// 	bottom: 0;
// 	width: 100%;
// 	text-align: center;
// 	justify-content: center;
// 	z-index: 98;
// 	background: #aba2a4;
// 	opacity: 0.7;

// 	@media (max-width: $phone) {
// 		flex-direction: column;
// 		align-items: center;
// 		height: 35vh;
// 		border: 1px solid red;
// 	}
// }

// .icon {
// 	position: relative;
// 	z-index: 98;
// 	font-size: 5.8rem;
// 	background: white;
// 	margin-right: 4%;
// 	padding: 2%;
// 	border-radius: 50%;
// 	margin-top: 3.2%;
// 	@media (max-width: $phone) {
// 		border: 1px solid red;
// 		padding: 10%;
// 		font-size: 0.2rem;
// 	}
// }

// .icon-group {
// 	display: flex;
// 	padding-bottom: 1.5%;
// 	justify-content: center;
// 	width: 35%;
// 	align-items: center;
// 	@media (max-width: $phone) {
// 		width: 47%;
// 		padding-bottom: 0;
// 		flex-direction: column;
// 	}

// 	p {
// 		font-size: 1rem;
// 		text-align: justify;
// 		margin-top: 3.5%;
// 		color: white;
// 		font-size: 2rem;
// 		@media (max-width: $phone) {
// 			font-size: 0.8rem;
// 			margin-top: 0;
// 		}
// 	}
// }
