.bookDisplay,
.bookCards {
  margin: 1em 5em;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
}

.bookCard {
  height: auto;
  width: 20em;
  margin: 2em;
  box-shadow: 5px 5px 15px rgba(101, 88, 245, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  align-items: center;
}

.coverArt {
  height: auto;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.author {
  font-weight: 600;
  font-size: 1.5em;
}

.learnMore {
  font-size: 1.5em;
  text-decoration: none;
}

.learnMore:visited {
  color: blue;
}

.bookSummary {
  font-size: 15px;
  line-height: 12pt;
  padding: 0.5em;
  text-overflow: ellipsis;
}
.addBtn {
  border-radius: 5px;
  background: none;
  border: 2px solid rgb(101, 88, 245);
  width: 10em;
  padding: 0.25em;
  color: rgb(101, 88, 245);
}

@media (max-width: 1077px) {

  .bookDisplay,
  .bookCards {
    justify-content: space-evenly;
  }
}